images/used equipment/AutoLensmeter_DH-8.jpg
images/used equipment/Ezer-ERK5200.jpg
images/used equipment/Girlas-Slit-Lamp.jpg
images/used equipment/Humphrey-740i_pre-owned.jpg
images/used equipment/Topcon-ED-2.jpg

images/used equipment/Topcon-CL100-Lensmeter.jpg
images/used equipment/QuantelAxisII_A-Scan.jpg
images/used equipment/KeelerWireless_BIO.jpg
images/used equipment/NewRefractionUnit.jpg
images/used equipment/Reichert_NCT.jpg
images/used equipment/MarcoUltra-G2.jpg
images/new equipment/phoropters/lumixx r-1/Lumixx_R-1_01.jpg
images/new equipment/phoropters/lumixx r-1/Lumixx_R-1_01.png
images/new equipment/phoropters/lumixx r-1/Lumixx_R-1_02.jpg
images/new equipment/phoropters/lumixx r-1/Lumixx_R-1_03.jpg
images/new equipment/phoropters/lumixx r-1/Lumixx_R-1_04.jpg
images/logo-2023.png
images/Logo-old-NEW.png
images/texas-ophthalmic-logo-new-old.png
images/texas-ophthalmic-logo-new.png
